.header{
    box-sizing: border-box;
    background-color: lightblue;
    border-color: black;
    border-style: solid;
    padding: 1px;
    width: 400px;
    text-align: center;
}

.content-list{
    box-sizing: border-box;
    padding: 5px;
    background-color: silver;
    width: 400px;
}

.content-list button{
    background-color: lightcyan;
}